extends layout

block content
  - var l= list
  h1= title
  p Welcome to #{title}
  br
  table()
    thead
      td ranking
      td name
      td pontuação
    each i in (list)
      tr
        each d in (i)
          td= d