body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
  min-width: 300px;
  background-color: #deb221c2;
}
table td{
  color:#ffffff;
  text-align: center;
}
