@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
body {
  padding: 50px;
  font: 35px Andale Mono, monospace, sans-serif;
  background-color: #131212;
  color:#ffffff;
  text-align:center;
}

h1{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size:80pt;
  text-shadow:3px 3px 10px red;
}

p{
  font-family: 'Permanent Marker', cursive;
  text-shadow:1px 1px 10px white;
  color:#131212;
}

a {
  color: #00B7FF;
}

table{
  margin:auto;
  min-width: 300px;
  background-color: #131212;
  border-spacing: 0px;
  border:none;
  box-shadow: 3px 3px 3px #ff0000;
  font:20px Andale Mono, monospace;
}

table td{
  font-family: 'Bungee', cursive;
  color:#ffffff;
  text-align: center;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-spacing: 0px;
  padding:10px;
}

thead td{
  font-size: 30px;
  font-style: bolder;
  color:#ffffff;
  text-shadow: 1px 1px 5px white;
}


